</br>

<div class="container_new_reserva">

<center><h4><p id="notice"><%= notice %></p></center></h4>
<% if !notice %>
<center><h3>Reserva: <%= @reserva.id %></center></h3>
<% end %>

</div>

</br>

<div class="container_new_reserva">

<p>
  <strong>Nome:</strong>
  <%= @reserva.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reserva.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @reserva.telefone %>
</p>

<p>
  <strong>Número de Pessoas:</strong>
  <%= @reserva.pessoas %>
</p>

<p>
  <strong>Data:</strong>
  <%= @reserva.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @reserva.hora %>
</p>

<p>
  <strong>Necessidades Especiais:</strong>
  <%= @reserva.pne %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @reserva.obs %>
</p>

<center><%= link_to 'Home', root_path %></center>

</div>

