<center><h1 style="color: #fff">Página do Administrador</h1>

<p id="notice"><%= notice %></p>

<h1>Reservas</h1></center>

<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">Nome</th>
      <th class="text-left">Email</th>
      <th class="text-left">Telefone</th>
      <th class="text-left">Pessoas</th>
      <th class="text-left">Data</th>
      <th class="text-left">Hora</th>
      <th class="text-left">PNE</th>
      <th class="text-left" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @reservas.each do |reserva| %>
      <tr>
        <td class="text-left"><%= reserva.nome %></td>
        <td class="text-left"><%= reserva.email %></td>
        <td class="text-left"><%= reserva.telefone %></td>
        <td class="text-left"><%= reserva.pessoas %></td>
        <td class="text-left"><%= reserva.data.to_time.strftime('%d/%m/%Y') %></td>
        <td class="text-left"><%= reserva.hora.to_time.strftime('%H:%M') %></td>
	<% if reserva.pne %>
        <td class="text-left">Sim</td>
	<% else %>
	<td class="text-left">Não</td>
	<% end %>
        <td class="text-left"><%= link_to 'Detalhar', reserva %></td>
        <td class="text-left"><%= link_to 'Editar', edit_reserva_path(reserva) %></td>
        <td class="text-left"><%= link_to 'Excluir', reserva, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
